<div id="about" class="uk-section">
  <div class="uk-container">
    <h2>About Catch The Review (CTR)</h2>
    <p>
      Catch The Review (CTR) is an online classified and business directory
      system. It lists ads from users to reach consumers and provides an online
      communication hub between users and target consumers. It also posts user
      reviews, feedbacks about various services and ads posted from users. Using
      CTR, users can post their ads and consumers can view local classified and
      business directory listing choosing the city they reside or intend to
      find.
    </p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
