<div id="faq">
  <div class="uk-container uk-padding-large">
    <h1>Frequently Asked Questions</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4" />
      <h4>Choose What To Do</h4>
      <p>
        You want to find a list of service professionals with excellent skill
        sets, clean communication, ontime availability and great professionalism
        manner. CatchTheReview brings all local professionals of various skill
        sets in a wide range of categories of your needs for various projects.
      </p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4" />
      <h4>Amazing Service</h4>
      <p>
        CatchTheReview provides amazing service to make bridge between all
        service providers to their clients for completing all projects and
        services. It is very easy to view all service providers with their
        reviews, ratings, distance from the service locations, and estimated
        rate for the service. Easy communication with the service provider with
        real contact number and email to communicate with the service provider.
      </p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4" />
      <h4>
        How it works
      </h4>
      <p>
        Very Simple Steps. Browse through and view the list of service
        providers. Sort with ratings, distance, cost. Contact with service
        providers using phone number or email. Finalize the project deals and
        hire the professions for your projects or services.
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
