<div id="privacy" class="uk-section">
  <div class="uk-container">
    <h1>Privacy Policy</h1>

    <p>
      As the user's privacy is very important to CTR, it has established this
      privacy policy to explain all users about how their information or data is
      collected, stored, retained and protected. This privacy policy is posted
      in the Site and can be updated time to time by CTR. As a user, you can
      always review up to date version of this policy. As a user, you
      understand, acknowledge and agree to all terms and conditions of this
      privacy policy and will be aware of any future changes of this policy at
      any time.
    </p>

    <h3>Protecting information</h3>
    <p>
      CTR collects some personal information at different places of the Sites or
      Services such as name, mailing address, phone number, email address, home
      country, state, zip code, photo or other information to identify the user
      or some case to contact any specific reasons. For protecting every user,
      CTR follows:
      <li>
        no share of any personal identification information to others, sell to
        third party for solicitation or marketing purposes.
      </li>
      <li>
        no involvement of running popups, banners, or any other ads, or referral
        of links or sites information or any other sites or unsolicited
        marketing.
      </li>
      <li>
        to have email anonymization and forward or relay to protect user
        identity and personal information safe and reduce spam. But, user can
        choose to disclose personal information such as email address or phone
        number in the listing publicly.
      </li>
      <li>
        to keep all account information password-protected and advise to keep
        password safe and protected.
      </li>
      <li>
        to store some cookie and browser information for repeating user of
        remembering location or some address, preferences, web tracking
        information for internal site analytic for site development.
      </li>
      <li>
        CTR, with knowledge, not to collect any personal information or ad
        posting under the age of 13. It also immediately takes action to remove
        any listing by a person under 13 after learning that information.
      </li>
      <li>
        not to be liable or involved for third party content. During posting at
        CTR, user may add third party links includes text, photos, audio, video,
        or any other content, which may have their own privacy policies, which
        CTR does not have any control and are not responsible for anything. Each
        user are advised to read their terms, privacy policies or any other
        conditions before visiting those links or sites each and every time.
      </li>
    </p>

    <h3>User registration</h3>
    <p>
      User registration is not required for viewing some ad listing, or using
      CTR Site, Service or Content, but it may be required for some specific
      services. During posting ad, CTR collects user personal email address and
      phone number to keep track of ad posting user, but user has a choice of
      not publishing those data during ad display. Among this personal
      information, only email address and phone number are used for contact or
      message forwarding or relay of user response to any ad, or communication
      between CTR and user for ad posting control, like activation, modification
      or deletion and will not disclose to any third-party.
    </p>

    <h3>Information collection</h3>

    <ol>
      <li>
        Personal information such as email address or phone number for sending
        registration confirmation emails, as listing communication (like
        activation, modification or deletion), user authentication, email relay,
        user comments etc. Using phone number may use for sending text message,
        which may incur some bills from the corresponding carriers, which the
        users are responsible for, and no way CTR is responsible for any such
        bills or any issues
      </li>
      <li>
        Registration information collects personal information including name,
        address, phone number, email address, picture for authentication of all
        valid users and to store the data for repetitive posting from same
        account, to make comments of other postings etc.
      </li>
      <li>
        Listing content, as the user posts or submits their listing and CTR does
        not control any posting or submission as far as not violating any laws
        or terms.
      </li>

      <li>
        Once a communication establishes between you and third-party, CTR does
        not control over any personal communication and is not responsible or
        liable of such communication.
      </li>
      <li>
        CTR stores started web statistics includes IP address, region,
        timestamps, page URL, number of hits or serves of a page for diagnostics
        problems, improve and overall administer CTR site and services.
      </li>
      <li>
        CTR does not ask for any financial or exclusive personal information
        includes credit or debit card, bank info, social security number, any
        other identification card number for any ad posting or email
        communication.
      </li>
    </ol>

    <h3>Data storage</h3>
    <ol>
      <li>
        All ad listings, comments, are stored in our database and servers, and
        may be archived after the time of deleting as per Terms or user
        deletion.
      </li>
      <li>Registration information</li>
      <li>All web statistics</li>
      <li>
        Although CTR makes good faith efforts to store any information in a
        secure server and environment, which are not available to the public,
        CTR cannot guarantee complete security
      </li>
    </ol>
    <h3>Information disclosure</h3>
    <p>
      CTR may disclose or release information about its users if is it required
      by law ot do so or in the good faith belief that CTR needs to respond with
      such disclosure for legal process, court orders or law enforcements or
      others or to enforce Terms and conditions or to protect rights and safety
      of CTR, its affiliated persons, its users or anybody.
    </p>
    <h3>International users</h3>
    <p>
      CTR is web-based site, service and content provider located in United
      States (US). If you are visiting the website, or using service or content
      from outside US, you understand, acknowledge and agree that CTR may
      collect data and information and store in their database and server. You
      also agree to follow all local, state and international laws, rules, and
      guidelines and waiving your rights or giving explicit content to CTR to
      store your data at CTR database server in US.
    </p>
    <h3>Collection of information from minors</h3>
    <p>
      The Service is intended for a general audience and it is not intended for
      children under the age of 16. Use of the Service is prohibited for anyone
      under the age of 16. If you are between 16 and 18 years of age, you must
      secure authorization from your parents or legal guardian before using the
      Service. Although the Service may contain information that may be of
      interest to children, the Service is not directed at children and we do
      not knowingly collect or solicit personal information from children under
      the age 16.
    </p>

    <h3>Further Concerns</h3>
    <p>
      If you have any further questions, comments, concerns, suggestions or
      feedback about Terms or Privacy policy, please send us an email note
      through contact us.
    </p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
