<div id="terms" class="uk-section">
  <div class="uk-container">
    <h2>Catch The Review Terms of Use</h2>

    <h3>Acceptance of Terms</h3>
    <p>
      Catch The Review (“CTR”) provides a collection of online resources, which
      includes classified and business ad listings, and advertisements, email
      services and phone numbers collectively called as Services, links to third
      party sites, pictures, and videos subject to these Terms of Use (“Terms”).
      By using the Site or the Service, you are agreeing to comply with these
      Terms. In addition, when using part of CTR services, you agree to abide by
      any applicable posted guidelines of such services, which may change,
      modify or alter terms and conditions from time to time or at any time at
      its sole discretion. You understand and agree that you are solely
      responsible for reviewing these Terms from time to time, which will be
      effective immediately upon the posting thereof. You can find the updated
      version of Terms at:
      <a href="#">http://www.catchthereview.com/terms.php</a>.
    </p>
    <p>
      Should you object to any Terms, conditions, guidelines or any subsequent
      changes thereto or become unhappy or feel uncomfortable with CTR in any
      way, your only choice to immediately discontinue use of the Site and the
      Service. CTR has the right, but is not obligated, to strictly enforce the
      Terms as well as CTR will not be held responsible for any loss or damage
      for any non-compliance. You understand and agree that CTR is no way
      controls, verifies or endorses any of the information contained on or in
      the Services including listing, texts, photos, links, messages,
      advertisements, reviews and comments. You are also responsible to abide by
      with the local or state laws, regulations, and guidelines from
      administrative authority of that place, you live in or posting using
      Services.
    </p>

    <h3>Content</h3>
    <p>
      You understand that all ad listings, text, messages, links, files,
      pictures, images, photos, video, audio, sound or any other materials
      (“Content”) posted on, sent or transmitted through or had a link from the
      Site, are sole responsibility of the person or organization from which
      such Content originated or created. Furthermore, you understand and agree
      that CTR does not control and is not held responsible for Content that
      post, email or otherwise make available through the Site and that using
      the Site, you may be exposed the Content that is offensive, indecent,
      inaccurate, misleading or otherwise objectionable. Additionally, the Site
      and Content made available through the Site may contain additional links
      to other web pages or sites that are completely independent of CTR and CTR
      neither makes representation or warranty nor be liable as the accuracy,
      correctness, completeness or authenticity of the information contain on
      such web pages or sites. As an user of this Site, you agree that you must
      evaluate, or beat all risks associated with it and you are solely
      responsible for your own risk for any sites or links of web pages or sites
      and under no circumstances, CTR will be liable in any way for any content
      or for any loss of damage of any kind incurred as a result of the use of
      any content posted, emailed, linked or otherwise made available via the
      Site. You also acknowledge that CTR does not pre-screen or approve any
      Content, but CTR shall have the right (but not obligated to any user) in
      its sole discretion to delete, refuse or move any content that is
      available via the Service, for violating the laws, regulations, letter or
      spirit of the Terms or for any other reason. <%=
      sails.config.custom.baseUrl %>. <%= sails.config.custom.baseUrl %>.
    </p>

    <h3>Links, Sites, Services, or Content of Third Party</h3>
    <p>
      As you use Sites and Contents at CTR, which may include features and
      functions to third party content that are completely independent of CTR.
      It includes any information technology services or internet services such
      as but not limit to web pages and web sites, directory systems, databases
      and applications, networks, programs and software, products and services,
      server systems or clients or anything related or unrelated to this Site.
      During use of CTR, you may interacts with individuals, groups or
      organizations found the listing or through the service, like email
      exchanges or forwarding, delivery of goods or services and payments with
      any conditions, terms, guaranties or warranties or representations, are
      solely among the parties involved with that, and CTR is no way responsible
      for anything. Individual, groups or organizations should make whatever
      investigation necessary or appropriate before communicating or proceeding
      with any type of communications or transactions either offline or online
      with any of these services providers or users or third parties. As
      mentioned, you understand and agree that CTR is not responsible or liable
      of any loss or damage or issues incurred as a result of such dealings and
      CTR is under no obligation and will no way be involved any dispute or
      issues or to resolve any issues if occurred. In any event if you have a
      dispute with one or more other issues, you hear by releases CTR, its
      officers, employees, agents and successors in rights of claims, demands
      and damages of any or every kind or nature, known or unknown, suspected or
      unsuspected, disclosed or undisclosed, arising out of or in any way
      related to such disputes and / or any other services from CTR.
    </p>

    <h3>Conduct</h3>
    <p>
      During using CTR sites, its services and any other relates to CTR, you
      agree to act as responsible and treat others with respect. You agree here
      not to post, email or otherwise make available Content that:
      <li>violates any law,</li>
      <li>
        is unlawful, harassing, harmful, abusive, threatening, libelous,
        defamatory, bigoted, racially offensive or to specific target groups,
        invasive to other's privacy, obscene, harmful to minors or otherwise
        objectionable
      </li>
      <li>
        offers any illegal services or the sale of any items prohibited or
        restricted by applicable law
      </li>
      <li>
        is pornographic or depicts a human being engaged in sexual conduct,
        harmful to minors in any ways or displays sexually explicit materials of
        any kind
      </li>

      <li>
        is encouraging to constitute a criminal offensive or disturbing civil
        peaceful living or rises to civil liability or otherwise violates any
        applicable local, state, national or international law, order or
        regulations
      </li>
      <li>
        harasses, humiliates, degrades, is fearful, intimidates, is hateful or
        detests an individual or group of individuals, based on ethnicity,
        religion, age, race, sexual orientation, gender, beliefs, physical or
        mental disability,
      </li>
      <li>
        contains personal or identifying information about another person,
        without that person's explicit consent, or pretend to be another person
        or entity or falsely states or misrepresents any information or
        servicesl
      </li>
      <li>
        contains false, misleading, misrepresenting, deceptive, mis-informative,
        illusory, deceitful information or services
      </li>
      <li>
        contains any content that infringes any patent, trademark, trade secret,
        copyright, privacy statement, or other proprietary rights
      </li>
      <li>
        contains or transmits any unsolicited or unauthorized personal or
        commercial advertisement, affiliated marketing or referral, junk mail or
        spam, chain letters or pyramid schemes, or anything that may abuse the
        Site or Services of CTR
      </li>
      <li>
        contains, transmits or posts of any materials, links, files, malicious
        viruses or programs designed intentionally or unintentional to disrupt,
        limit, destroy, interrupt or illegal imposing selling for any
        functionality of computer software, hardware or any other equipment of
        users, members or CTR services
      </li>
      <li>
        contains misleading email addresses or contact information or to
        disguise the origin of Content to trap, blackmail, falsify or misguide
        users or CTR Site, Content or Services
      </li>
      <li>
        collects, stores, solicits information about users information for
        commercial, unlawful purposes or engage in commercial activities, other
        than the Services of CTR, with explicit prior consent and permission
        from CTR
      </li>

      <li>
        is posted ads, listing or irrelevant information without following Site
        Terms and guidelines such as wrong categories, cities or repeated
        posting to mislead users and to make harm to CTR infrastructure
      </li>
      <p>Additionally after following the above Terms, you agree not to:</p>
      <li>contact anyone who asked not to contact, or use his contact information to sell or use for unsolicited commercial
      purposes</li>
      <li>"Stalk" or otherwise follow, track, or harass anyone
</li>
      <li>collect person data for commercial or unlawful purposes</li>
      <li>delete, revise or alter any materials posted by other user</li>
      <li>use automated means of any kinds to download data from the Site,</li>
      <li>attempt to unauthorized access to CTR computer systems, networks or software to disrupts, diminishes or damages the
      quality of, interferes with the performances of, or impairs the functionality of, the Site or Service</li>
      <li>post the same item or service in wrong category or more than one categories or more than one cities of the actual city
      it should be or otherwise non-local service, or repeated post of the same content to have large overload of CTR
      infrastructure
</li>
      <li>use any form of automated system to post ads, without manually posting the ads</li>
      <li>use any form or automated system to flag ads, with may intentionally flag CTR ads.</li>
    </p>

    <h3>Privacy Policy
</h3>
    <p>
      CTR follows extensive data protection and privacy policy. It does not distribute or sell any personal information, nor
      spam or create popup. CTR stores all contents and personal information for its long-term archive for reference. It only
      forwards email as part of the service.
    </p>

    <h3>No Spam Policy
</h3>
    <p>
      You understand and agree that sending unsolicited email advertisements to CTR email addresses or through CTR computer
      systems, which is expressly prohibited by these Terms, will use or cause to be used servers located in Texas. You
      acknowledge and agree that from time to time CTR may monitor email usage using human monitors or automated software to
      flag certain works associated with spam or scams in emails that are sent between one user to another user in the CTR
      email system. Any type of communications may be used only in accordance with the Terms. Any unauthorized use of CTR
      computer systems is a violation of these Terms and certain federal and state laws. Such violations may subject the
      sender and his or her agents to civil and criminal penalties.

    </p>

    <h3>Communications and Dealings with Third Party
</h3>
    <p>
      During using CTR site, service and content, you may be in touch with other third party individual or groups or
      organizations for their services or goods, and CTR is not responsible or liable for any of your communications,
      interactions or dealings with any of those third party individual, groups or organizations. These include, but not
      limited to, any kind of payment, delivery of service or goods, any terms or conditions, guarantees or warranties or any
      representations of anything. Any kind of these communications and dealings are between you and third party individual,
      groups or organizations and CTR is no way responsible or liable for any kind of loss, damage, difficulties or issues
      arise as a result of those such dealings. You understand, acknowledge and agree that if any kind of dispute arises and a settlement required
      between users of CTR or between you and any third party, CTR will not be involved to resolve any issues, nor CTR will
      compensate any loss or damage.

    </p>
    

    <h3>Limitation of Service
</h3>
    <p>
      You understand, acknowledge and agree that CTR may establish limits from time to time concerning the use of the Site or
      Service, includes among others, the maximum number of days that Content will be posted, retained or maintained by the
      Service, the maximum number and size of posting, email messages or any other Content that may be transmitted, relayed or
      stored by the Service, and the frequency with which you may access the Service or the website or the Content. CTR has
      all rights to limit, modify, terminate or suspend the service with or without notice, is not liable to do such
      activities to anybody and if you are one of them, whose access is limited, terminated or suspended, you are not allowed
      to use the service, after that consequences. CTR also does not responsible or liable for any modification of listings,
      delete or failure to restore due to any issues or to maintain the Site or Service or Content available at any time. CTR
      also has the full rights to delete or deactivate any account or user, block any email-address or IP address, terminate
      any access to CTR site, service or content, delete, remove or discard any content or any use of service, with or without
      notice, immediately or assign date, for any reason or no reason at all, without any limitation. You agree to give CTR
      full rights of all Site, Content, and Service and exclusively agree not to claim anything to CTR at all.

    </p>
  
<h3>Disclaimer of Warranties
</h3>
<p> <strong>YOU EXPRESSLY UNDERSTAND, ACKNOWLEDGE AND AGREE THAT USE OF CTR SITE AND SERVICE IS ENTIRELY AT YOUR OWN RISK. CTR SITE
AND SERVICE ARE PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES OR LIABILITIES OF ANY KIND. CTR,
ITS LICENSORS, SUPPLIERS AND AUTHORIZED PARTIES EXPRESSLY DISCLAIM ALL EXPRESS, IMPLIED, STATUTORY OR ANY OTHER KIND OF
WARRANTIES OR LIABILITIES, INCLUDING WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
PURPOSE, TITLE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS TO THE FULLEST EXTENT PERMITTED BY LAW. CTR ALSO DISCLAIMS TO
THE FULLEST EXTEND PERMITTED BY LAW, ANY WARRANTIES FOR THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY, TRUTHFULNESS,
AND OR PERFORMANCE OF CTR SITE AND SERVICES. CTR ALSO DISCLAIMS ANY WARRANTIES OR LIABILITIES FOR OTHER SERVICES OR
GOODS RECEIVED THROUGH OR ADVERTISED ON THE SITE OR SERVICE, OR ANY KIND OF INJURY, DAMAGE, LOSS, DIFFICULTIES,
HARMFULNESS, HAPPENED DIRECTLY OR INDIRECTLY DURING THIRD PARTY COMMUNICATION TO THE FULLEST EXTEND PERMITTED BY LAW.</strong> Some jurisdictions do not allow the disclaimer or exclusion of certain warranties, so some of the forgoing disclaimers
or exclusions may not apply to you.
</p>
   
<h3>Limitation of liabilities
</h3>
<p><strong>  YOU EXPRESSLY UNDERSTAND, ACKNOWLEDGE AND AGREE THAT UNDER NOT CIRCUMSTANCES SHALL CTR OR ANYBODY ASSOCIATED WITH CTR BE
LIABLE TO YOU OR ANY THIRD PARTY FOR DIRECT, INDIRECT, IMPLIED, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DMAAGES,
LOSSES OR ANY ISSUES, RESULTING FROM ASPECT OF YOUR USE OF THE CTR SITE OR THE SERVICE OR THE CONTENT, WHETHER THE
DAMAGES, LOSSES OR ISSUES ARISE FROM USE OR MISUSE OF CTR SITE, SERVICE OR CONTENT OR THE INABILITY TO USE OF THE SITE,
SERVICE OR CONTENT, EVEN IF CTR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES. CTR SHALL ALSO BE NOT
LIABLE OF ANY SERVICE INTERRUPTION, MODIFICATION, ALTERATION, SUSPENSION OR TERMINATION OF ITS SITE, SERVICE OR CONTENT.
FURTHER, CTR SHALL HAVE NO LIABILITY OF ANY DAMAGES, LOSSES, DIFFICULTIES OR ANY OTHER INCONVENIENT OR ISSUES WITH THIRD
PARTY SERVICES, GOODS, COMMUNICATIONS, MISGUIDANCE, LINKS, INFORMATION OR MISINFORMATION OR ANY THING POSTED, SUBMITTED
OR COMMUNICATED THROUGH CTR SITE. ALL THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTEND PERMITTED BY LAW.</strong>Some jurisdictions do not allow the disclaimer or exclusion of certain warranties, so some of the forgoing disclaimers
or exclusions may not apply to you.</p>
<h3>Indemnity
</h3>
<p>You hereby understand and agree, at your expense, to defend, indemnity and hold CTR, its directors, officers or
subsidiaries, affiliates or successors, assigns, service providers, agents, suppliers, users, employees or anybody
associated, harmless from and against any and all claims, damages, losses, liabilities, costs, debts, fees, expenses,
arising out of use of Site, Services or post, submit or provide any services or goods, violation of Terms,
misrepresentation, misguidance or misleading or violation of any laws or any rights to others.</p>
<h3>General Information
</h3>
<p>These Terms and any other policies posted on CTR website constitute the complete understanding and the entire agreement
between you and CTR, superseding a prior understandings or agreements between you and CTR, whether oral or written. The
Terms are governed in all respects by the laws of the state of Texas, without regard to its conflict of law principles.
If CTR does not enforce any particular provision, CTR is not waiving the right to do so later at any time. You and CTR
agree to submit to the personal and exclusive jurisdiction of the courts located within, Austin, Texas. If any of the
provision of these terms held to be invalid or inapplicable or unenforceable or illegal, the remaining provisions of the
Terms shall not in any way be affected or be impaired. You understand and agree that any cause of action, any claim or
any status or law to the contrary, arising out of or related to use of the Site or Service or the Terms must be filed or
commenced with six (6) months. Otherwise, such cause will be barred forever permanently.
</p>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
