<div id="about" class="uk-section">
  <div class="uk-container">
    <h1 id="Choose-What-To-Do" class="uk-text-lead uk-margin-remove-bottom">Choose What To Do</h1>
    <hr/>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit,
      sed do eiusmod tempor incididunt ut labore et dolore.
    </p>

    <h1 class="uk-text-lead uk-margin-remove-bottom">Aamizing Service</h1>
    <hr/>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit,
      sed do eiusmod tempor incididunt ut labore et dolore.
    </p>
    <h1 class="uk-text-lead uk-margin-remove-bottom">Find What You Want</h1>
    <hr/>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit,
      sed do eiusmod tempor incididunt ut labore et dolore.
    </p>
    <h1 class="uk-text-lead uk-margin-remove-bottom">Find What You Want</h1>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit,
      sed do eiusmod tempor incididunt ut labore et dolore.
    </p>
    <h1 class="uk-text-lead uk-margin-remove-bottom">Find What You Want</h1>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit,
      sed do eiusmod tempor incididunt ut labore et dolore.
    </p>
    
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>