<footer class="footer uk-section">
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-1@m uk-text-center">
        <a class="uk-logo" href="#">
          <img data-src="images/logo-catch.png" alt="Logo" uk-img />
        </a>
        <div class="uk-margin uk-margin-remove-bottom">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href=""><i class="fa fa-behance"></i></a>
        </div>
        <div
          class="uk-list uk-margin-small uk-display-inline-block uk-link-text"
        >
          <a href="/about">About Us</a>
          <a href="/legal/terms">Terms Condition</a>
          <a href="/legal/privacy">Privicy Policy</a>
          <a href="/contact">Contact Us</a>
        </div>
        <p class="uk-text-muted uk-margin-remove">
          Copyright © 2019 CatchTheReview. All rights reserved.
        </p>
        <p class="uk-text-muted uk-margin-remove">
          Design & Developed By <a class="credit" href="#">Everexpert</a>
        </p>
      </div>
    </div>
  </div>
</footer>
