<% if(typeof me === 'undefined') {
// In case we're displaying the 404 or 500 page and relevant code in the "custom" hook was not able to run,
// we make sure `me` exists.  This ensures we don't have to do `typeof` checks below.
var me = undefined;
} %><!DOCTYPE html>
<html>
  <head>
    <title>Catch The Review</title>
    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% /* Script tags should normally be included further down the page- but any
    scripts that load fonts (e.g. Fontawesome ≥v5) are special exceptions to the
    rule. (Include them up here along with any hard-coded «link» tags for Typekit,
    Google Fonts, etc. - above the «body» to prevent the page flickering when fonts
    load.) */ %>
    <% /* Certain scripts, normally analytics tools like Google Tag Manager and
    Google Analytics, should only be included in production: */
    if (sails.config.environment === 'production') { %>
    <!-- Google Analytics, Google Tag Manager, etc. -->
    <% }
    /* Otherwise, any such scripts are excluded, and we instead inject a
    robots/noindex meta tag to help prevent any unwanted visits from search engines. */
    else { %>
    <meta name="robots" content="noindex">
    <% } %>
    <% /*
    Stylesheets
    ========================
    Stylesheets can be hard-coded as «link» tags, automatically injected
    by the asset pipeline between "STYLES" and "STYLES END", or both.
    (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>
    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/fontawesome.css">
    <link rel="stylesheet" href="/dependencies/select2.min.css">
    <link rel="stylesheet" href="/dependencies/uikit/uikit.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>
  <body >
      
  <%- partial('layout-header.ejs') %>    
    
    <%- body %>
    
    <%- partial('layout-footer.ejs') %>
    
    <%- partial('layout-scripts.ejs') %>

  
      
</body>
</html>