<div class="uk-width-1-3@m">
  <%- partial('../common/profile.ejs', {me: me}) %>

  <!-- End Profile -->
  <div class="uk-margin-top">
    <div class="uk-visible@m">
      <div class="uk-card uk-card-default ">
        <ul class="uk-nav uk-nav-default uk-padding-small">
          <li class="uk-nav-header uk-heading-small">My Account</li>
          <li class="uk-nav-divider"></li>
          <li><a href="/my-favourite">My Favorite Sevices</a></li>
          <!-- <li ><a href="account">Dashboard</a></li> -->
          <li class="uk-nav-divider"></li>
          <li><a href="/my-services">My Services</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="/new-posts">Add New Service</a></li>
          <li class="uk-nav-divider"></li>

          <!-- <li class="uk-nav-divider"></li> -->
          <!-- <li ><a href="edit-profile">Edit Account</a></li> -->
        </ul>
      </div>
    </div>
    <div class="uk-card uk-card-default">
      <div class=" uk-hidden@m">
        <nav uk-navbar>
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav uk-text-center">
              <li><a href="/my-services">My Services</a></li>
              <li><a href="/new-service-post">New Service Post</a></li>
              <li><a href="/my-favourite-posts"> My Favorite Posts</a></li>
              <li><a href="/edit-account">Edit Account</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- End Menu -->
</div>
