
 <div id="map"  class="google-map"  style="height: 1000px">
  
</div>

 
  <!-- <div v-if="!multistyle" class="google-map">
    <div class="uk-background-muted">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14605.592254215118!2d90.34254761977539!3d23.7688354!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1558065885348!5m2!1sen!2sbd" width="600" height="735" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>uk-width-expand@m -->