<div class="uk-card uk-card-default uk-padding-small">
  <div
    class="uk-card-header uk-padding-small uk-margin-bottom uk-padding-remove-left uk-padding-remove-top"
  >
    <div class="uk-grid uk-grid-small uk-flex-middle">
      <h4 class="uk-text-bold uk-margin-remove-bottom">Promote Your Ads</h4>
    </div>
  </div>
  <!-- uk-card-header -->
  <div class="uk-card-body uk-padding-remove uk-margin-small-top">
    <ul class="uk-list" id="demoPromotion"></ul>
  </div>
  <!-- uk-card-body -->
  <div class="uk-margin uk-margin-remove-bottom">
    <a href="#" class="uk-text-bold uk-button uk-button-text">Subscribe</a>
  </div>
</div>
<!-- uk-card -->
