<% for(var i=0; i < logs.length; i++) { %>
<div style="margin: 50px">
    <p><b><i><%= logs[i].userName %></i></b> has <%= logs[i].actionType %> a <i><%= logs[i].actionName %></i> </p>
</div>
<% } %>
