<section id="feature-2" class="feature-2 uk-background-defaut uk-section">
  <div class="uk-container">
    <div
      class="section-heading uk-margin-small-bottom uk-margin-large-top uk-text-center"
    >
      <!-- Section Sub Title -->
      <h4 class="uk-heading-small uk-margin-small uk-text-uppercase">
        Explore
      </h4>
      <!-- Section Title -->
      <h1 class="uk-heading-medium uk-margin-remove-top">
        Frequently Asked Questions
      </h1>
    </div>
    <!-- Section heading -->

    <div class="slider-items uk-slider uk-position-relative">
      <div
        data-uk-slider="autoplay: false; finite: false; autoplay-interval: 3000;"
        tabindex="-1"
      >
        <ul
          class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-3@s uk-child-width-1-3@m"
          uk-grid
          data-uk-height-match="target: > li > .uk-card; row: false"
        >
          <li>
            <div class="uk-card uk-text-center uk-padding uk-border-rounded">
              <a href="/faq#Choose-What-To-Do">
                <img data-src="images/feature-2-1.png" alt="" uk-img />
                <h3 class="uk-text-lead uk-margin-remove-bottom">
                  Choose What To Do
                </h3>
              </a>
              <p>
                You want to find a list of service professionals with excellent
                skill sets, clean communication, ontime availability and great
                professionalism manner. CatchTheReview brings all local
                professionals of various skill sets in a wide range of
                categories of your needs for various projects.
              </p>
            </div>
          </li>
          <li>
            <div class="uk-card uk-text-center uk-padding uk-border-rounded">
              <a href="/faq">
                <img data-src="images/feature-2-1.png" alt="" uk-img />
                <h3 class="uk-text-lead uk-margin-remove-bottom">
                  Amazing Service
                </h3>
              </a>
              <p>
                CatchTheReview provides amazing service to make bridge between
                all service providers to their clients for completing all
                projects and services. It is very easy to view all service
                providers with their reviews, ratings, distance from the service
                locations, and estimated rate for the service. Easy
                communication with the service provider with real contact number
                and email to communicate with the service provider.
              </p>
            </div>
          </li>
          <!-- <li>
            <div class="uk-card uk-text-center uk-padding uk-border-rounded">
              <a href="/how-it-works">
                <img data-src="images/feature-2-1.png" alt="" uk-img />
                <h3 class="uk-text-lead uk-margin-remove-bottom">
                  Find What You Want
                </h3>
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipis icing elit, sed
                do eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
          </li> -->
          <li>
            <div class="uk-card uk-text-center uk-padding uk-border-rounded">
              <a href="/faq">
                <img data-src="images/feature-2-1.png" alt="" uk-img />
                <h3 class="uk-text-lead uk-margin-remove-bottom">
                  How it works
                </h3>
              </a>
              <p>
                Very Simple Steps. Browse through and view the list of service
                providers. Sort with ratings, distance, cost. Contact with
                service providers using phone number or email. Finalize the
                project deals and hire the professions for your projects or
                services.
              </p>
            </div>
          </li>
          <!-- <li>
            <div class="uk-card uk-text-center uk-padding uk-border-rounded">
              <a href="/how-it-works">
                <img data-src="images/feature-2-1.png" alt="" uk-img />
                <h3 class="uk-text-lead uk-margin-remove-bottom">
                  Find What You Want
                </h3>
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipis icing elit, sed
                do eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
          </li> -->
        </ul>
        <div class="uk-visible@s">
          <a
            class="uk-position-center-left uk-position-small"
            href="#"
            uk-slidenav-previous
            uk-slider-item="previous"
          ></a>
          <a
            class="uk-position-center-right uk-position-small"
            href="#"
            uk-slidenav-next
            uk-slider-item="next"
          ></a>
        </div>
        <ul
          class="uk-slider-nav uk-hidden@m uk-hidden@l uk-hidden@xl uk-dotnav uk-flex-center uk-margin"
        ></ul>
      </div>
    </div>
  </div>
</section>
<!-- End Service -->
