<section id="hero" class="uk-section-large">
    <div class="uk-container">
        <h1>Hello CTR</h1>

        <div class="uk-card uk-card-default">
        	<div class="uk-card-body">
        		<strong>Current step</strong> : <%= steps %>
        	</div>
        </div>
        <script type="text/javascript">
        	window.onload = function() {
		        window.location = 'testing?step=<%= steps+1 %>';
		    }
        </script>

    </div>
</section>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
