<h3 class="uk-text-warning title uk-margin-remove-bottom uk-text-center" v-if="cloudError==='badCombo1'">Account is not activeted.Check your Email</h3>
<ajax-form action="login" :syncing.sync="modalsyncing" 
:cloud-error.sync="modalcloudError" :form-data="modalformData"
 :form-rules="modalformRules" :form-errors.sync="formErrors"
  @submitted="modalsubmittedForm()">
  <h1 class="uk-text-primary title uk-margin-remove-bottom uk-text-center">Sign In</h1>
          <hr class="uk-divider-icon">
        <div class="uk-margin-small">
          <input type="email" class="uk-input uk-border-pill" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="modalformData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback uk-alert-warning uk-margin-small" id="name" v-if="formErrors.emailAddress">Please provide a valid email address.</div>
        </div>
        <div class="uk-margin-small">
          <input type="password" class="uk-input uk-border-pill" placeholder="Password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="modalformData.password" autocomplete="current-password">
          <div class="invalid-feedback uk-alert-warning uk-margin-small" v-if="formErrors.password">Please enter your password.</div>
        </div>
        <div class="uk-margin-small form-check">
          <input class="uk-checkbox" type="checkbox" id="remember" name="rememberMe" v-model="modalformData.rememberMe"/>
          <label class="form-check-label" for="remember">Remember me</label>
        </div>
        <p class="text-danger" v-if="modalcloudError==='badCombo'"><small>The credentials you entered are not associated with an account. Please check your email and/or password and try again.</small></p>
        <p class="text-danger" v-else-if="modalcloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
        <div class="uk-margin-bottom">
          <ajax-button :syncing="modalsyncing" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">Sign in</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">
        <a class="uk-link-reset uk-text-small" href="/password/forgot">Forgot your password?</a>
      </p>
      <p class="text-center">
        <a class="uk-link-reset uk-text-small" href="/signup">Sign Up for a new account.</a>
      </p> 